###> symfony/framework-bundle ###
/public/bundles/
/var/
/vendor/
/docker/mysql
/.idea
/.DS_Store
/.env.dist
/.env.test
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
